<div class="row">
    <div class="col-md-12">
        <h4>Consultar de Matricula</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-stripped table-hover">
            <thead>
                <tr>
                    <th>Nome Professor</th>
                    <th>CPF</th>
                    <th width="20%">Operações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn btn-primary btn-sm mr-1">Atualizar</button>
                        <button class="btn btn-danger btn-sm">Excluir</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"> Quantidade de fornecedores: 0 </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>