<div class="row">
    <div class="col-md-12">
        <h4>Cadastro de Alunos</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <div class="alert alert-primary text-center" [hidden]="!mensagemProcessamento">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span> 
            </div> 
            <hr /> 
            <strong>{{mensagemProcessamento}}</strong>
        </div>

        <div class="alert alert-success text-center" [hidden]="!mensagemSucesso">
            <strong>{{mensagemSucesso}}</strong>
        </div>

        <div class="alert alert-danger text-center" [hidden]="!mensagemErro">
            <strong>{{mensagemErro}}</strong>
        </div>

        <form #formCadastro="ngForm" (submit)="cadastroAluno(formCadastro)">
            <div class="form-group">
                <label>Nome do Aluno:</label> 
                <input type="text" class="form-control" placeholder="Digite aqui" name="nome" ngModel /> 
                <div class="text-danger" *ngFor="let mensagem of errosNome"> {{mensagem}} </div>
            </div>
            
            <div class="form-group"> 
                <label>Data de Nascimento:</label> 
                <input type="date" class="form-control" placeholder="Digite aqui" name="dataDeNascimento" ngModel/>
                <div class="text-danger" *ngFor="let mensagem of errosDataDeNascimento"> {{mensagem}} </div> 
            </div>
            
            <div class="form-group"> 
                <label>Email:</label> 
                <input type="email" class="form-control" placeholder="Digite aqui" name="email" ngModel/>
                <div class="text-danger" *ngFor="let mensagem of errosEmail"> {{mensagem}} </div> 
            </div>
            <div class="form-group"> 
                <input type="submit" value="Cadastrar Aluno" class="btn btn-success btn-sm" />
            </div>
        </form>
    </div>
</div>