<div class="row">
    <div class="col-md-12">
        <h4>Cadastro de Matriculas</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label>Data da Matricula:</label> 
                <input type="date" class="form-control" placeholder="Digite aqui" name="dataMatricula"/> 
            </div>
            
            <div class="form-group">
                <label>Selecione uma Turma:</label> 
                <select class="form-control" name="idTurma"> 
                    <option>Escolha uma opção</option> 
                </select> 
            </div>
            <div class="form-group">
                <label>Selecione um Aluno:</label> 
                <select class="form-control" name="idAluno"> 
                    <option>Escolha uma opção</option> 
                </select> 
            </div>
            <div class="form-group"> 
                <input type="submit" value="Cadastrar Matricula" class="btn btn-success btn-sm" />
            </div>
        </form>
    </div>
</div>